[Desktop Entry]
Version=1.0
Name=EEEL Script (Root)
Comment=Run EEEL script as root
Exec=/usr/local/bin/run_eeel.sh
Icon=eeel
Terminal=false
Type=Application
Categories=System;Utility;
